body {
	background-color: #ffffef;
}

.main-contents {
	border: 0.5px solid #d3d3d3;
	padding: 0px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: white;
	height: 100%;
	width: 820px;
}

.form-area {
	margin: 0px;
	padding: 10px;
	display: inline-block;
	background-color: #ecf4d9;
}

.tweet-box {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 795px;
	height: 56px;
}

.header {
	text-align: right;
	margin: 10px 10px 0px 0px;
	padding: 0px 10px;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.message {
	border-bottom: 2px solid gray;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message.date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	margin: 20px;
	padding: 20px;
	width: 250px;
	margin: 0 auto;
}

.filter {
	padding:10px;
	background-color: #c9dfec;
}
.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.bottun {
	display: flex;
}

.comment-form {
	margin: 10px 0px;
}

.comment-text {
	width: 800px;
	height: 100%;
	text-color: gray;
}

.comments {
	margin: 5px 15px;
	padding: 10px;
}